.property-card {
    border: solid 2px black;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
}

.property-card .card-header {
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (max-width: 576px) {
    .property-card .card-header img {
        width: 100%;
    }
}

@media (min-width: 577px) {
    .property-card .card-header img {
        width: 50%;
    }
}

.property-card .card-image img {
    width: 100%;
}

.property-card .card-price {
    padding: 10px 20px;
}

.property-card .card-price p {
    margin-top: 0;
    margin-bottom: 5px;
}

.property-card .card-button-section .card-add-button {
    width: 60%;
    padding: 6px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 2px green;
    color: white;
    background-color: green;
    cursor: pointer;
    margin-top: 70%;
}

.property-card .card-button-section .card-remove-button {
    width: 60%;
    padding: 6px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 2px red;
    color: white;
    background-color: red;
    cursor: pointer;
    margin-top: 70%;
}

.property-card .card-button-section {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.text-center {
    text-align: center;
}