.property-list-container{
    width: 100vw;
    min-height: 100vh;
}

.property-list-container .list-container {
    width: 50vw;
    display: table-cell;
}

@media (max-width: 576px) {
    .list-container {
        padding: 0 5px 10px;
    }

    .list-section {
        padding: 0 7px;
    }
}

@media (min-width: 577px) {
    .list-container {
        padding: 0 20px 20px;
    }

    .list-section {
        padding: 0 20px;
    }
}

.property-list-container .list-container .list-section {
    border: dashed 1px lightgray;
    border-radius: 5px;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}


